@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
    
}


body{
    width: 100%;
    background-color: rgb(238, 238, 238);
   
}

header{
  background: #D7D4FF;
  
}




.img-01{
    max-width: 22.5rem;
    
}

.cabecalho{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
   
    
}


.info-cabecalho{
    max-width: 24rem;
    margin: 0 1.3rem;
}
.cabecalho h1{
    padding: 3.4rem 1.3rem 1.2rem;
    font-size: clamp(2rem, 2.5vw, 2.3rem);
    font-weight: 400;
    
    
}
.cabecalho p{
    
    font-size: 1.1rem;
    padding-bottom: 2rem;
}
.button-01{
    margin: 2rem 0  7.6rem;
    padding: 0.9rem 3.2rem 0.8rem;
    color: white;
    background: #6C63FF;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    
}

.firt-img{
    padding-bottom: 6.4rem;
    
    
}
main{
   padding-top:  5.7rem;
   
   
}
.grid-class{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    gap: 1rem;
    max-width: 1440px;
   
}

.card{
    padding: 33px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 375px;
    background: white;
    margin: 30px 20px 20px 20px;
    box-shadow:  0 1px 16px 0px#888;
    
    
}




.info-img h1{
    align-items: flex-start;
    flex-direction: column;
    padding: 24px 0 26px;
}

.info-img p{
    font-weight: 400;
font-size: 18px;
line-height: 30px;
}